
.progress-container{
    max-width: 500px;
    .progress{
        margin: 10px;
        width: 100%;
        height: 50px;
        background-color: rgb(184, 184, 184);
        .progress-bar{
            height: 100%;
            width: 40%;
            background-color: rgb(17, 0, 255);
        }
    }
}

.custom-burger-button{
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}
.navbar-toggler-icon{
    filter: brightness(0) invert(1);
}

.card-with-image{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    img{
        width: 100%;
        max-width: 150px;
    }
    @media (max-width: 788px){
        flex-direction: column-reverse !important;
    }
    @media (max-width: 350px){
        button{
            white-space: wrap;
        }
    }
}

.spotify-autorisation-card{
    background-color: rgb(7, 144, 98) !important;
    box-shadow: 0px 0px 73px -24px rgba(0, 0, 0, 0.386) inset;
    border-radius: 50px !important;
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    button{
        margin-top: 20px;
    }
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.session-view {
    color: white; /* Couleur du texte */
    background-color: #121212; /* Couleur de fond principale */
    height: 100vh; /* Utilise toute la hauteur de la vue */
}

.full-height {
    height: 100%;
}

.dark-card {
    background-color: #282828; /* Fond sombre pour la carte */
    border: none; /* Suppression des bordures */
}

.album-image {
    width: 100%; /* L'image prend toute la largeur de la carte */
    max-width: 400px; /* Largeur maximale de l'image */
    height: auto; /* Hauteur automatique pour garder le ratio */
    @media (max-width: 768px){
        margin-left: 0px;
        margin-top: 20px;
    }
}

.text-orange {
    color: #f3bb13 !important; /* Couleur orange pour les titres */
}




.valid-button {
    background-color: #ff7043 !important; /* Violet pour les boutons */

    max-width: 500px;
    border: none !important; /* Suppression des bordures */
    &:hover{
        background-color: #ffb23f !important; /* Violet pour les boutons */
        color: rgb(15, 15, 15) !important;
    }
}



.dflex-session{
    margin-top: 50px;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    @media (max-width: 768px){
        flex-direction: column !important;
        align-items: center !important;
    }
}


.title-and-image-session{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    margin: 20px;
    border-right : 2px solid white;
    padding-right: 5%;
    @media (max-width: 768px){
        flex-direction: column !important;
        align-items: center !important;
        border-right : 2px solid rgba(255, 255, 255, 0);
        padding-right: 0%;
        border-bottom: 2px solid white;
        padding-bottom: 5%;
    }
}

.progress-bar-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    margin: 20px;
    @media (max-width: 768px){
        flex-direction: column !important;
        align-items: center !important;
    }

}

.progress{
    width: 90% !important;
    height: 30px !important;
    max-width: 1000px !important;
    min-width: 20vw !important;

}
.progress-bar{
    height: 100% !important;
    background-color: #ff7043 !important;
}

.song-button {
    background-color: #6a1b9a !important; /* Violet pour les boutons */
    width: 80%; 
    max-width: 500px;
    border: none !important; /* Suppression des bordures */
    max-height: none !important;
}
.song-button:hover, .song-button:focus {
    background-color: #ff7043 !important; /* Orange plus clair pour le hover/click */
}
.song-button {
    overflow: hidden; /* Empêche le texte de déborder */
    white-space: nowrap; /* Garde le texte sur une seule ligne */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  }

  

  .menu-toggle {
    position: relative;
}

.dropdown-toggle{
    border-radius: 50px !important;
    background-color: #691b9a00 !important;
    border : none !important;
    transition: all 0.3s;
  &::after {
    display: none !important; 
  }
  &:hover{
    background-color: #691b9a5f !important;
    transition: 0.3s;
  }

}

.header-options{
    border-radius: 5px;
    margin: 35px 0px 12px 0px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important;
/*     @media (max-width: 768px){
        flex-direction: column !important;
    } */
    img{
        filter: brightness(0) invert(1);
        margin: 10px;
        margin-right: 5px;
      }
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh ;
    .xmark{
        align-self: flex-end;
        filter: brightness(0) invert(1);
        margin: 30px;
        &:hover{
           cursor: pointer;
           //give to the img a orange color
           filter: invert(19%) sepia(38%) saturate(5419%) hue-rotate(268deg) brightness(82%) contrast(103%);
           transform: scale(1.25);
        }
    }
    .content-info-session{
        background-color: #282828;
        min-height: 400px;
        height: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        @media (max-width: 575px){
            border-radius: 0px;
        }
    }
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    button{
        margin: 10px;
    }
}

.selected-button {
    background-color: #ff6a3c !important; // Orange, par exemple
    color: white !important;
    border-color: ff6a3c !important;
}


.vote-container{
    min-width: 40%;
}